/*admin*/
.dashicons-heart:before {
    color: hotpink !important;
}

.dashicons-products:before {
    color: #3aa !important;
}

.dashicons-schedule:before {
    color: #964068 !important;
}

.dashicons-admin-comments:before {
    color: #c73 !important;
}

.dashicons-images-alt2:before {
    color: #7ad !important;
}
.dashicons-megaphone:before {
    color: #6d6 !important;
}

.dashicons-format-status:before {
    color: #dd5 !important;
}

.dashicons-admin-post:before {
    color: #83ae32 !important;
}

.dashicons-admin-media:before {
    color: #b35bff !important;
}

.dashicons-admin-page:before {
    color: #5bb4ea !important;
}

.dashicons-awards:before {
    color: #bbaf0d !IMPORTANT;
}

.dashicons-admin-appearance:before {
    color: #e4e02e !important;
}

.dashicons-admin-plugins:before {
    color: #6d6 !important;
}

.dashicons-admin-users:before {
    color: #5b8eee !important;
}

.dashicons-admin-tools:before {
    color: #d3a22f !important;
}

.dashicons-admin-settings:before {
    color: #219191 !important;
}

li#menu-posts-wysiwyg-widget .dashicons-admin-post:before {
    color: #6d4;
}
.dashicons-format-gallery:before {
    color: #ACB33C !important;
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before {
    color: #5b9dd9;
}



#adminmenu li:not(.wp-has-current-submenu) a:after {content: "";height: 100%;background-color: #000;width: 0px;display: block;transition: all 500ms;
bottom: 0;position: absolute; left:0;top:auto;     z-index:-1;}

#adminmenu li a:hover:after {
    width: 100%;
}

#adminmenu li a{
    position: relative;
    z-index:0;
}




/*./admin*/




section.inr-bnr { height: 320px; overflow: hidden; background-color: #ccc; position: relative; }

section.inr-bnr .container { position: relative; z-index: 1; color: #fff; text-shadow: 0 0 10px #000; font-size: 4em; margin-top: 2em; }

.menu-item-has-children > ul {
    display: none;
}


body div.wpcf7-response-output {
    float: left;
    padding: 15px;
    font-size: 1.2em;
}




/***Blog Page***/

a.more-link {
  background-color: #39c;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
}

form.search-form span.screen-reader-text {
  display: none;
}

form.search-form {
  float: left;
  width: 100%;
}

form.search-form input[type=search] {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-weight: 400;
}

form.search-form label {
  float: left;
  width: 100%;
}

form.search-form input.search-submit.screen-reader-text {
  float: right;
  position: absolute;
  right: 0;
  height: 40px;
  border: 1px solid #ccc;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 20px;
}

.post.type-post {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

.post-sidebar-area ul li {
  float: left;
  width: 100%;
  margin: 10px 0;
}

.post-sidebar-area h3 {
  margin-top: 20px;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

div#comments {
  background-color: #f7f7f7;
  float: left;
  padding: 15px;
  border: 1px solid #eee;
  margin: 40px 0;
}

p.comment-form-comment label {
  display: block;
}

nav.navigation.post-navigation.-nav {
  clear: both;
  float: left;
  width: 100%;
  margin: 0 0 30px;
}

.format-video .post-thumbnail {
  display: none;
}

.nav-links [class*="nav-"] {
  background-color: #39c;
  padding: 15px;
  border-radius: 50px;
}

.nav-links [class*="nav-"] a {
  color: #fff;
}

.nav-next {
  float: right;
}

.nav-previous {
  float: left;
}

.nav-links span.screen-reader-text {
  display: none;
}

.nav-links span.post-title {
  display: none;
}


/**./Blog Page***/



