/*admin*/
.dashicons-heart:before {
    color: hotpink !important;
}

.dashicons-products:before {
    color: #3aa !important;
}

.dashicons-schedule:before {
    color: #964068 !important;
}

.dashicons-admin-comments:before {
    color: #c73 !important;
}

.dashicons-images-alt2:before {
    color: #7ad !important;
}

li#menu-posts-wysiwyg-widget .dashicons-admin-post:before {
    color: #6d4;
}
.dashicons-format-gallery:before {
    color: #ACB33C !important;
}

/*./admin*/




section.inr-bnr { height: 320px; overflow: hidden; background-color: #ccc; position: relative; }

section.inr-bnr .container { position: relative; z-index: 1; color: #fff; text-shadow: 0 0 10px #000; font-size: 4em; margin-top: 2em; }

.menu-item-has-children > ul {
    display: none;
}


body div.wpcf7-response-output {
    float: left;
    padding: 15px;
    font-size: 1.2em;
}